
@model WebApplication5.ViewModels.EmployeeListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div> 
        @*Hello @Model.UserName*@
        Hello, @Model.UserName
        <a href="/Authentication/logout">Logout</a>
        <hr />
        <div>
            <a href="/Employee/AddNew">Add New</a>
            <table>
                <tr>
                    <th>Employee Name</th>
                    <th>Salary</th>
                </tr>
                @foreach (WebApplication5.ViewModels.EmployeeViewModel item in Model.Employees)
                {
                    <tr>
                        <td>
                            @item.EmployeeName
                        </td>
                        <td style="background-color:@item.SalaryColor">@item.Salary</td>
                    </tr>
                }
            </table>
        </div>

        @*<div>
            <b>Employee Details</b><br />
            Employee Name:@Model.EmployeeName<br />
            <span style="background-color:@Model.SalaryColor">
                Employee Salary:@Model.Salary
            </span>
        </div>*@
        @*Welcome to MVC 5 Step by Step learning*@
        @{ 
            //WebApplication5.Models.Employee emp = (WebApplication5.Models.Employee)ViewData["Employee"];
            //WebApplication5.Models.Employee emp = (WebApplication5.Models.Employee)ViewBag.Employee;
         }
        @*<b>Employee Details</b><br />
        Employee Name:@Model.FirstName@Model.LastName<br />
        @if (Model.Salary > 15000)
        {
            <span style="background-color:yellow">
                Employee Salary:@Model.Salary.ToString("c")
            </span>
        }
        else
        {
            <span style="background-color:green">
                Employee Salary:@Model.Salary.ToString("c")
            </span>
        }*@
    </div>
</body>
</html>
